apscheduler
arxiv 
beautifulsoup4 
chromadb
crewai
duckduckgo-search
fastapi 
fastparquet 
label-studio-sdk
langchain_chroma
langchain_community 
langchain_core
langchain
langgraph
langserve
matplotlib
mysql-connector-python 
nbclient
nbformat
ollama
pyarrow 
PyMuPDF
pymysql
pymongo
python-dotenv
python-multipart
rdflib
redis
requests
scrapy 
seaborn
selenium
sentence-transformers
SQLAlchemy
sse_starlette
tqdm
uvicorn==0.29.0
wikipedia
