apscheduler
arxiv 
beautifulsoup4 
chromadb==0.5.0
crewai
duckduckgo-search
fastapi 
fastparquet 
ipywidgets
jinja2
jupyter
label-studio-sdk
langchain_chroma
langchain_community 
langchain_core
langchain==0.1.20
langgraph
langserve
matplotlib
nbclient
nbformat
ollama
PyMuPDF
python-dotenv
python-multipart
requests
scrapy 
seaborn
selenium 
sentence-transformers
sse_starlette
tqdm
uvicorn==0.29.0
wikipedia 
pyarrow 