apscheduler
arxiv 
beautifulsoup4 
chroma
fastapi 
jinja2
langchain 
langchain_chroma
langchain_community 
matplotlib
ollama
PyMuPDF
requests
scrapy 
seaborn
selenium 
sentence-transformers
sse_starlette
tqdm
uvicorn
wikipedia 