table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
}

table th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}