{% extends 'base.html' %} {% block title %}Admin{% endblock %} {% import
'includes/card.html' as card %} {% block content %}
  <!-- {% include 'includes/tabs.html' %} -->

<div id="wrapper" class="form-container"></div>

  <script>
    new window.gridjs.Grid({
    columns: ["Name", "Email", "Phone Number"],
    data: [
      ["John", "john@example.com", "(353) 01 222 3333"],
      ["Mark", "mark@gmail.com", "(01) 22 888 4444"],
      ["Eoin", "eoin@gmail.com", "0097 22 654 00033"],
      ["Sarah", "sarahcdd@gmail.com", "+322 876 1233"],
      ["Afshin", "afshin@mail.com", "(353) 22 87 8356"]
    ],
    sort: true,
    search: true,
    style: {
      table: {
        border: '1px solid rgba(255, 255, 255, 0.4)'
      },
      th: {
        'background-color': 'rgba(0, 0, 0, 0.1)',
        color: '#FFF',
        'border-bottom': '1px solid rgba(255, 255, 255, 0.4)',
        'text-align': 'center'
      },
      td: {
        'text-align': 'center',
        color: '#FFF',
        'background-color': 'rgba(51, 51, 51, 0.9)'
      }
    }
  }).render(document.getElementById("wrapper"));
  </script>

{% endblock %}
