{% extends 'base.html' %} {% block title %}Edit Agent{% endblock %} {% block content %}
{% import 'includes/header.html' as header %}
<div class="container">{{ header.bar('Edit Agent') }}</div>


<div class="form-container">
  <form id="agentForm">
    <div class="form-row">
      <div class="form-group full-width">
        <label for="role">Role</label>
        <input type="text" id="role" name="role" required />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group full-width">
        <label for="goal">Goal</label>
        <textarea id="goal" name="goal" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group full-width">
        <label for="backstory">Backstory</label>
        <textarea id="backstory" name="backstory" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group half-width">
        <label for="tools">Tools</label>
        <input
          type="text"
          id="tools"
          name="tools"
          placeholder="No tools selected"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group half-width">
        <label for="llm">LLM</label>
        <select id="llm" name="llm" required>
          <option value="1">Agent LLM</option>
          <option value="2">Manager LLM</option>
          <option value="3">Director LLM</option>
        </select>
      </div>
      <div class="form-group half-width">
        <label for="llm_functions">LLM Functions</label>
        <input
          type="text"
          id="llm_functions"
          name="llm_functions"
          placeholder="Same as Agent LLM"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group quart-width">
        <label for="max_iter">Max Iterations</label>
        <input type="number" id="max_iter" name="max_iter" value="25" />
      </div>
      <div class="form-group quart-width">
        <label for="max_rpm">Max RPM</label>
        <input
          type="number"
          id="max_rpm"
          name="max_rpm"
          placeholder="No limits"
        />
      </div>
      <div class="form-group quart-width">
        <label for="max_time">Max Time</label>
        <input
          type="number"
          id="max_time"
          name="max_time"
          placeholder="Infinte"
        />
      </div>
    </div>
    <div class="form-row switch-container">
      <label for="verbose">Verbose</label>
      <label class="switch">
        <input type="checkbox" id="verbose" name="verbose" />
        <span class="slider"></span>
      </label>
      <label for="allow_delegation">Allow Delegation</label>
      <label class="switch">
        <input type="checkbox" id="allow_delegation" name="allow_delegation" />
        <span class="slider"></span>
      </label>
      <label for="cache">Cache</label>
      <label class="switch">
        <input type="checkbox" id="cache" name="cache" checked />
        <span class="slider"></span>
      </label>
    </div>
    <div class="form-group">
      <button type="submit"><i class="fas fa-save"></i>&nbsp;Save Agent</button>
    </div>
  </form>
</div>
<script>
  document
    .getElementById("agentForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      const formData = new FormData(this);
      const data = {};
      formData.forEach((value, key) => {
        if (
          key === "verbose" ||
          key === "allow_delegation" ||
          key === "cache"
        ) {
          data[key] = value === "on" ? 1 : 0; // Convert checkbox to integer
        } else if (
          key === "max_iter" ||
          key === "max_rpm" ||
          key === "max_time"
        ) {
          data[key] = parseInt(value);
        } else {
          data[key] = value;
        }
      });

      const response = await fetch("/agents/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
      if (response.ok) {
        // Redirect to the agents page
        window.location.href = "/admin";
      } else {
        alert("Failed to save agent.");
      }
    });
</script>
{% endblock %}
