{% extends 'base.html' %} {% block title %}Tools{% endblock %} {% block content
%} {% import 'includes/header.html' as header %}
<div class="container">{{ header.bar('Crews') }}</div>
<div class="form-container">
  <form id="crewForm">
    <div class="form-row">
      <div class="form-group full-width">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group full-width">
        <label for="process">Process</label>
        <select id="process" name="process" required>
          <option value="Sequential">Sequential</option>
          <option value="Hierarchical">Hierarchical</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group full-width">
        <label for="agents">Agents</label>
        <select id="agents" name="agents">
          {% for agent in available_agents %}
          <option value="{{ agent.id }}">{{ agent.role }}</option>
          {% endfor %}
        </select>
        <button type="button" id="addAgent">Add Agent</button>
      </div>
      <div class="form-group full-width">
        {% for agent in agents %}
       
          <div id="agent-{{ agent.id }}" data-agent-id="{{agent.id}}">{{ agent.role }}</label>
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      <button type="submit"><i class="fas fa-save"></i>&nbsp;Save Tool</button>
    </div>
  </form>
</div>
<script>
  document
    .getElementById("crewForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      const formData = new FormData(this);
      const data = {};
      formData.forEach((value, key) => {});

      const response = await fetch("/crews/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
      if (response.ok) {
        // Redirect to the agents page
        window.location.href = "/admin";
      } else {
        alert("Failed to save crew.");
      }
    });
</script>
{% endblock %}
