{% extends 'base.html' %} {% block title %}Tools{% endblock %} {% block content %}
{% import 'includes/header.html' as header %}
<div class="container">{{ header.bar('Tools') }}</div>

<div class="form-container">
  <form id="toolForm">
    <div class="form-row">
      <div class="form-group full-width">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group full-width">
        <label for="description">Description</label>
        <textarea id="description" name="description" required></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group full-width">
        <label for="output">Output</label>
        <textarea id="output" name="output" required></textarea>
      </div>
    </div>
    <div class="form-row switch-container">
      <label for="enabled">Enabled</label>
      <label class="switch">
        <input type="checkbox" id="enabled" name="enabled" />
        <span class="slider"></span>
      </label>
    </div>
    <div class="form-group">
      <button type="submit"><i class="fas fa-save"></i>&nbsp;Save Tool</button>
    </div>
  </form>
</div>
<script>
  document
    .getElementById("toolForm")
    .addEventListener("submit", async function (event) {
      event.preventDefault();
      const formData = new FormData(this);
      const data = {};
      formData.forEach((value, key) => {
        if (
          key === "enabled" 
        ) {
          data[key] = value === "on" ? 1 : 0; // Convert checkbox to integer
        } else {
          data[key] = value;
        }
      });

      const response = await fetch("/tools/create", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(data),
      });
      if (response.ok) {
        // Redirect to the agents page
        window.location.href = "/admin";
      } else {
        alert("Failed to save agent.");
      }
    });
</script>
{% endblock %}
