{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}
{% import 'includes/header.html' as header %}
<div class="container">{{ header.bar('Admin') }}</div>
  </head>
  <body>
    <div class="form-container">
      <form
        id="taskForm"
        method="post"
      >
        <div class="form-row">
          <div class="form-group half-width">
            <label for="description" class="icon-label"
              >Description</label            >
            <input
              type="text"
              id="description"
              name="description"
              value="{{ task.description if task else '' }}"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="expected_output" class="icon-label"
              >Expected Output</label
            >
            <textarea id="expected_output" name="expected_output" required>
{{ task.expected_output if task else '' }}</textarea
            >
          </div>
          <div class="form-group half-width">
            <label for="tools" class="icon-label"
              >Tools</label
            >
            <input
              type="text"
              id="tools"
              name="tools"
              value="{{ task.tools if task else '' }}"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="asynchronious">Asynchronious</label>
            <label class="switch">
              <input type="checkbox" id="asynchronious" name="asynchronious" checked />
              <span class="slider"></span>
            </label>
          </div>
          <div class="form-group half-width">
            <label for="context" class="icon-label"
              ></i>Context</label
            >
            <textarea id="context" name="context" required>
{{ task.context if task else '' }}</textarea
            >
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="config" class="icon-label"
              ></i>Config</label
            >
            <textarea id="config" name="config" required>
{{ task.config if task else '' }}</textarea
            >
          </div>
          <div class="form-group half-width">
            <label for="output_json" class="icon-label"
              ></i>Output JSON</label
            >
            <input
              type="text"
              id="output_json"
              name="output_json"
              value="{{ task.output_json if task else '' }}"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="output_pydantic" class="icon-label"
              ></i>Output Pydantic</label
            >
            <input
              type="text"
              id="output_pydantic"
              name="output_pydantic"
              value="{{ task.output_pydantic if task else '' }}"
              required
            />
          </div>
          <div class="form-group half-width">
            <label for="output_file" class="icon-label"
              ></i>Output File</label
            >
            <input
              type="text"
              id="output_file"
              name="output_file"
              value="{{ task.output_file if task else '' }}"
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group half-width">
            <label for="human_input">Human Input</label>
            <label class="switch">
              <input type="checkbox" id="human_input" name="human_input" checked />
              <span class="slider"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <button type="submit">
            <i class="fas fa-plus-circle"></i> Save Task
          </button>
        </div>
      </form>
    </div>
    <script>
      document
        .getElementById("taskForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();
          const formData = new FormData(this);
          const data = {};
          formData.forEach((value, key) => {
            if (
              key === "human_input" ||
              key === "asynchronious"
            ) {
              data[key] = value === "on" ? 1 : 0; // Convert checkbox to integer
            } else {
              data[key] = value;
            }
          });
    
          const response = await fetch("/tasks/create", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });
          if (response.ok) {
            // Redirect to the agents page
            window.location.href = "/admin";
          } else {
            alert("Failed to save agent.");
          }
        });
    </script>
{% endblock %}

