{% extends 'base.html' %} {% block title %}Ontology{% endblock %} {% block
content %} {% import 'includes/header.html' as header %}
<div class="container">{{ header.bar('Ontology') }}</div>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    console.log("DOMContentLoaded event fired");
    console.log("Checking if marked is available:", typeof marked);
    const hash = window.location.hash.substr(1); // Get the fragment identifier without the #
    if (hash) {
      fetch(`/supplychain/${encodeURIComponent(hash)}`)
        .then((response) => response.text())
        .then((markdown) => {
          const htmlContent = marked.parse(markdown); // Convert Markdown to HTML
          document.getElementById("content").innerHTML = htmlContent;
          document
            .querySelectorAll("code.language-mermaid")
            .forEach((block) => {
              const parentDiv = document.createElement("div");
              parentDiv.innerHTML = block.textContent;
              block.replaceWith(parentDiv);
              mermaid.init(undefined, parentDiv);
            });
        })
        .catch((err) => console.error("Error fetching data:", err));
    }
  });
</script>
<div class="form-container" style="white-space: normal;word-wrap: break-word;">
  <div id="content" class="form-container">
    <!-- Content will be replaced by fetched and rendered Markdown content -->
  </div>
</div>

{% endblock %}
