{% extends 'base.html' %} {% block title %}Ontology{% endblock %} {% block
content %} {% import 'includes/header.html' as header %}
<div class="container">{{ header.bar('Ontology') }}</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<style>
  @import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

  body {
    margin: 0;
    background: rgb(25, 25, 25);
    min-height: 100%;
    font-family: "Ubuntu Mono", monospace;
    color: white;
  }

  .form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    background-color: rgba(51, 51, 51, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
      inset 0 1px 3px rgba(255, 255, 255, 0.2);
    color: white;
    margin-left: auto; 
    margin-right: auto; 
    display: block !important; 
    width: 800px !important; 
    white-space: normal;
    word-wrap: break-word;
    font-size: 120%;
  }

  code {
    white-space: normal;
  }

  .mermaid { max-width: 100%; overflow-x: auto; }
  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: rgba(25, 25, 25, 0.9);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    appearance: none;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1024px;
  }
  .form-group.full-width {
    width: 100%;
    max-width: 1024px;
  }

  .form-group.half-width {
    flex: 0 0 48%;
  }

  .switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .switch-container label {
    margin-right: 10px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin-right: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #0070f3;
  }

  input:checked + .slider:before {
    transform: translateX(16px);
  }

  .form-group button {
    padding: 10px 15px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .form-group button:hover {
    background-color: #005bb5;
  }

  /* Style for the dropdown */
  .form-group select {
    background-image: linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 5px),
      calc(100% - 15px) calc(1em + 5px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .form-group select:focus {
    outline: none;
    border-color: #0070f3;
  }

  .form-group select option {
    background-color: rgba(25, 25, 25, 0.9);
    color: white;
  }
  #backstory {
    height: 70px;
  }
  #backstory {
    height: 150px;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    console.log("DOMContentLoaded event fired");
    console.log("Checking if marked is available:", typeof marked);
    const hash = window.location.hash.substr(1); // Get the fragment identifier without the #
    if (hash) {
      fetch(`/supplychain/${encodeURIComponent(hash)}`)
        .then((response) => response.text())
        .then((markdown) => {
          const htmlContent = marked.parse(markdown); // Convert Markdown to HTML
          document.getElementById("content").innerHTML = htmlContent;
          document
            .querySelectorAll("code.language-mermaid")
            .forEach((block) => {
              const parentDiv = document.createElement("div");
              parentDiv.innerHTML = block.textContent;
              block.replaceWith(parentDiv);
              mermaid.init(undefined, parentDiv);
            });
        })
        .catch((err) => console.error("Error fetching data:", err));
    }
  });
</script>
<div style="margin-left: auto; margin-right: auto; display: block !important; width: 800px !important; white-space: normal;word-wrap: break-word;">
  <div id="content" class="form-container">
    <!-- Content will be replaced by fetched and rendered Markdown content -->
  </div>
</div>

{% endblock %}
