{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%} {% for task in elements %}

<div class="card" style="margin-left: auto; margin-right: auto; width: 80%">
  <div class="card-header">
    <h3>
      <i
        class="{{task.icon}}"
        style="padding-left: 20px; padding-right: 14px"
      ></i
      >{{ task.title }}
    </h3>
  </div>
  <div class="card-body">
    {% if task.type == 'Text' %}
    <div class="markdown">{{task.content}}</div>
    {% endif %} {% if task.type == 'DataGrid' %}
    <div class="datagrid">
      <table style="width: 100%; border: 1px solid white">
        <tr>
          {% for column in task.columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </table>
    </div>
    {% endif %}
    <code> {{ task.query }} </code>
  </div>
  {% if task.followup %}
  <div class="card-footer">
    Want to know more?
    <ul class="followup">
      {% for followup in task.followup %}
      <li>{{ followup }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endfor %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("div .markdown").forEach((block) => {
      const htmlContent = marked.parse(block.textContent); // Convert Markdown to HTML
      block.innerHTML = htmlContent;
    });
  });
</script>
<style>
  ul.followup > li:hover {
    cursor: pointer;
    font-weight: bold;
  }
</style>
{% endblock %}
